h1 {
    color: teal;
    font-size: 60px;
    /*font:"Helvetica Neue",Helvetica,Arial,sans-serif;*/
}

p {
    color: blue;
    font-size: 25px;
    font:"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.p2 {
    color: green;
    font-size: 25px;
    font:"Helvetica Neue",Helvetica,Arial,sans-serif;
}